@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

body {
  background-color: rgb(246, 246, 246);
}

.border-top {
  border-top: 1px solid rgba(0, 42, 84, 0.1);
}
